body {
	background: #252525;
	font-family: 'Open Sans';
	font-weight: 300;
}


.main {
	background: white url(machine_a_ecrire.jpg) right top no-repeat;
	background-size: contain;
	padding: 80px 20px 20px;
	margin-top: 120px;
}

@media only screen and (max-width : 992px) {
	.main {
		background: white;
		margin-top: 30px;
	}
}


h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #555;
	margin-bottom: 0;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #999;
	font-size: 18px;
	margin-top: 5px;
}

form {
	margin-top: 60px;
}


.madiv {
  position: relative;
  top: -13em;
  left: 3em;
	   width: 200px;
    height: 200px;
}

.madivinfo {
  position: relative;
  top: 2em;
  left: 114em;

}

.madivlogofct {
  position: relative;
  top: -19em;
  right: -113em;

}
.madivretour {
  position: relative;
  top: -1em;
  right: -8em;

}

img {
width:160px; 
height:70px;

}

.divlogo {
  position: relative;
  top: 6em;
  right: -5em;

}

input.form-control , input[type="submit"] , .btn {
	border-radius: 0px;
}

.btn {
	transition: all ease-in-out 0.2s;
}

.credits {
	margin-top: 100px;
	color: #999;
	font-size: 12px;
}

.credits a {
	color: inherit;
}