body {
	
	font-family: 'Open Sans';
	font-weight: 300;
	margin-top: 100px;
}

#menu  {
float:center;
width:340px;
margin-top: 8px;
position: fixed;

}

table .news {
width:100%;
font-size:8px;
}

.large{
  width: 40%;
  *width: 98%;
  text-align: center;
  font-size: 13px;
}
.medium{
  width: 15%;
  *width: 98%;
  text-align: center;
  font-size: 13px;
}
.small{
  width: 25%;
  *width: 23%;
}

.main {
	background: white url(machine_a_ecrire.jpg) right top no-repeat;
	background-size: contain;
	padding: 80px 20px 20px;
	margin-top: 120px;
}

@media only screen and (max-width : 992px) {
	.main {
		background: white;
		margin-top: 30px;
	}
}

#popup {
    visibility: hidden; 
    background-color: red; 
    position: absolute;
    top: 10px;
    z-index: 100; 
    height: 100px;
    width: 300px
}


h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: black;
	margin-bottom: 0;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	
	font-size: 18px;
	margin-top: 5px;
}

.formimg {
	margin:0px;
}

td {
color : black;
}

td.info_title {
  font-weight: bold;
}

th
{
color : red;
}

.madiv {
  position: relative;
  top: -13em;
  left: 3em;
	   width: 200px;
    height: 200px;
}

.madivinfo {
  position: relative;
  top: 2em;
  left: 114em;

}

.madivlogofct {
  position: relative;
  top: -19em;
  right: -113em;

}
.madivretour {
  position: relative;
  top: -1em;
  right: -8em;

}

img {
width:160px; 
height:70px;

}

.imguser {
width:150px; 
height:auto;
}

.divlogo {
  position: relative;
  top: 6em;
  right: -5em;

}

input.form-control , input[type="submit"] , .btn {
	border-radius: 0px;
}

.btn {
	transition: all ease-in-out 0.2s;
}

.credits {
	margin-top: 100px;
	color: #999;
	font-size: 12px;
}

.credits a {
	color: inherit;
}

i.fa.fa-users.white {
  color: white;
}